<div>
    <div>
        <h2>Why MVC is so important</h2>
    </div>
    <div>
        <p>MVC allows developers to maintain a true separation of concerns, devising their code between the Model layer for data, the View layer for design, and the Controller layer for application logic.</p>
    </div>
</div>

<div>
    <div>
        <h2>Authenticaion vs. Authorization</h2>
    </div>
    <div>
        <p>There is a difference between authentication and authorization. Authentication means confirming your own identity, whereas authorization means being allowed to access to the system.</p>
    </div>
</div>

<div>
    <div>
        <h2>Object-Relational Mapping</h2>
    </div>
    <div>
        <p>I have really loved learning about ORMs. It's really simplified the way I create queries in SQL!</p>
    </div>
</div>